# configuration
PORT=3001

# PG configuration
DATABASE_URL="postgresql://postgres:123@localhost:5432/postgres?schema=public"

# JWT data
JWT_SECRET='secret-key'
JWT_REFRESH_SECRET='refresh-secret-key'
ACCESS_EXPIRE='30m'
REFRESH_EXPIRE='7d'

#Redis config
REDIS_URL='redis://127.0.0.1:6379'
